body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EBECEA;
    /* Definindo a fonte padrão e removendo margens e espaçamentos padrões */
}

header {
    color: white;
    text-align: center;
    /* Estilo do cabeçalho */
}

#area_cabecalho{
	background-position:center;
    background-image: url(../img/fundo.jpeg);
	background-repeat: no-repeat;
	padding: 15px;
	text-align: center;
	height: 600px;}

#area_logo {
        padding: 10px;
        font-style: italic;
    }
#cor_logo{
    font-size: 100px;
    color: #000;
}
.container-fluid a:link {
font-size: 20px;
color: black;
padding: 10px;
text-decoration: none;
}
.container-fluid a:visited {
color: black;
background-color:green;
border-radius: 5px;
}
.container-fluid Sa:hover {
color: #919396;
background-color: #333333;
border-radius: 5px;
}


.logo {
  max-width: -200px; /* Ajuste o tamanho máximo da logo */
  height: auto; /* Mantém a proporção da imagem */
}
nav{
    text-align: center;
}
nav ul {
    list-style: none;
    /* Removendo a lista padrão */
}

nav ul li {
    display: inline;
    color: #919396;
    /* Navegação horizontal */
}

a {
    color: black;
    text-decoration: none;
    /* Estilizando os links */
}

a:hover {
    color: white;
    /* Efeito hover para links */
}

section {
    max-width: 900px;  /* Ajuste para o tamanho desejado */
    margin: 20px auto;
    padding: 20px;
    /* Ajuste do tamanho da seção e remoção de padding extra */
}

.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
    text-align: center;
    list-style: none;
    /* Ajuste para o espaçamento desejado entre imagens */
    /* Usando flexbox para espaçar as imagens */
}

.home div {
    width: 20%;
    background-color: white;
    color: black; /* Garantindo legibilidade */
    border-radius: 100px;
    text-align: center;
    margin:auto; /* Ajustando o espaço abaixo dos itens da lista */
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    /* Estilizando cada item da lista */
}

.home img {
    width: 100%;
    max-width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    /* Estilizando as imagens */
}



.home div:hover {
    transform: translateY(-5px);
    /* Efeito de movimento para o item da lista ao passar o mouse */
}

.home .home-descricao {
    font-size: 17px;
    align-items: center;
    text-align: center;
    color: black; /*
    margin-top: 10px;*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    /* Estilo da descrição abaixo das imagens */
}
#section2 p{
    color: black;
    text-align: justify;
    padding: 15px;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#section1, #section2, #section3, #section4 h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
form label{
    display: flex;
    flex-direction: column;
    color: black;
}
form input{
    background-color: #CFD1D2;
    width: 300px;
    height: 50px;
    padding: 0 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 90%;
    border: 1px solid #515254;
    border-radius: 8px;
}
form input[type="submit"]{
    width: 50%;
    margin-top: 5%;
    border-radius: 32px;
    color: white;
    font-size: 90%;
}
form input[type="submit"]:hover {
    background-color: black;
    font-size: 100%;
}
button {
    background-color: grey;
    font-size: 90%;
    color: black;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
 
}
.placeholder {
    color:black;
}

h1 {
   color: black;
   font-size: 25px;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
}

/* Rodapé */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Alinha as seções corretamente */
  margin: 0 auto;
  width: 100%; /* Garante que o container ocupe a largura total */
}

.footer-section {
  flex: 1;
  margin: 10px;
}

/* Subtítulo das seções do rodapé */
.footer-section h4 {
  margin-bottom: 10px;
}

/* Lista das seções do rodapé */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  text-align: justify;
}

.footer-section ul li a {
  color: black;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Fotos das mídias sociais para contato */
.footer-section.social-media {
  display: flex;
  justify-content: space-around;
}

.footer-section.social-media img {
  height: 50px;
  width: 50px;
}

.footer-section.social-media a {
  color: #bbb8b4;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

/* Copyright: centraliza e coloca abaixo de "Informações" e "Início" */
.footer-copyright {
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Garante que ocupe a largura total do rodapé */
    margin-top: 20px; /* Um pequeno espaço entre o conteúdo e o copyright */
    font-size: 14px;
    padding-top: 10px; /* Ajusta a distância do copyright do conteúdo */
}



/* Estilos para a seção do perfil */
#perfil {
    background-color: black; /* Cor de fundo leve */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    border-bottom: 1px solid #dee2e6; /* Linha de separação */
}
/*
header {
    margin-top: 0px; /* Espaço entre o perfil e o cabeçalho *
}*/
span {
    color: #404040;
}

.form-cadastrar{
    background-color: #202020;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 0px auto 0;
}
form input{
    background-color: #FFFFFF;
}
form input::file-selector-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
form label{
    color: #FAFAFA;
}
.formh1{
    color: #FAFAFA;
    margin-top: 40px;
    margin-bottom: 20px;
}
form input:focus{
    border: 3px solid #303030;
    outline: none;
    background-color: #414141;
}

.btn-cadastrar {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    transition: 0.5s;
    background: #FAFAFA;
    width: 50%;
    margin: 30px auto 0;
    margin-bottom: 30px;
  }
  .btn-cadastrar:hover {
    background:  #101010;
    color: #A0A0A0;
  }

  .form-login{
    background-color: #202020;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 0px auto 0;
}
form input[type='text']{
    color: #FFFFFF;
}
form input::file-selector-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
form label{
    color: #FAFAFA;
}
.formh1{
    color: #FAFAFA;
    margin-top: 40px;
    margin-bottom: 20px;
}
form input:focus{
    border: 3px solid #303030;
    outline: none;
    background-color: #414141;
    color: #FAFAFA;
}

.btn-login {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    transition: 0.5s;
    background: #FAFAFA;
    width: 50%;
    margin: 30px auto 0;
    margin-bottom: 30px;
  }
  .btn-login:hover {
    background:  #101010;
    color: #A0A0A0;
  }